Package: djnn-cpp
Version: @MAJOR@.@MINOR@.@MINOR2@
Section: libs
Priority: optional
Architecture: amd64
Homepage: <http://smala.io/>
Depends:  qtbase5-dev-tools, pkg-config, bison, flex,  m4
Maintainer: Mathieu Poirier <mathieu.poirier@enac.fr>
Description: interactive programming
 Library for interactive programming
